In [1]:
import pandas as pd
import numpy as np

In [23]:
date_df = pd.read_csv('../../dataset/transcripts/BB/datas.csv')
date_df['data'] = pd.to_datetime(date_df['data'])
date_df = date_df.sort_values(by=['data'], ignore_index=True)
date_df['prox_evento'] = date_df['trimestre'].shift(periods=-1)
date_df

   trimestre       data prox_evento
0     1T2010 2010-05-14      2T2010
1     2T2010 2010-08-17      3T2010
2     3T2010 2010-11-17      4T2010
3     4T2010 2011-02-18      1T2011
4     1T2011 2011-05-11      2T2011
5     2T2011 2011-08-10      3T2011
6     3T2011 2011-11-04      4T2011
7     4T2011 2012-02-15      1T2012
8     1T2012 2012-05-04      2T2012
9     2T2012 2012-08-15      3T2012
10    3T2012 2012-11-09      4T2012
11    4T2012 2013-02-22      1T2013
12    1T2013 2013-05-16      2T2013
13    2T2013 2013-08-14      3T2013
14    3T2013 2013-11-13      4T2013
15    4T2013 2014-02-14      1T2014
16    1T2014 2014-05-08      2T2014
17    2T2014 2014-08-15      3T2014
18    3T2014 2014-11-06      4T2014
19    4T2014 2015-02-12      1T2015
20    1T2015 2015-05-15      2T2015
21    2T2015 2015-08-14      3T2015
22    3T2015 2015-11-13      4T2015
23    4T2015 2016-02-26      1T2016
24    1T2016 2016-05-13      2T2016
25    2T2016 2016-08-12      3T2016
26    3T2016 2016-11-11      4T2016
27    4T2016 2017-02-17      1T2017
28    1T2017 2017-05-12      2T2017
29    2T2017 2017-08-11      3T2017
30    3T2017 2017-11-10      4T2017
31    4T2017 2018-02-23      1T2018
32    1T2018 2018-05-11      2T2018
33    2T2018 2018-08-10      3T2018
34    3T2018 2018-11-18      4T2018
35    4T2018 2019-02-15      1T2019
36    1T2019 2019-05-08      2T2019
37    2T2019 2019-08-09      3T2019
38    3T2019 2019-11-08      4T2019
39    4T2019 2020-02-14      1T2020
40    1T2020 2020-05-15      2T2020
41    2T2020 2020-08-14      3T2020
42    3T2020 2020-11-06      4T2020
43    4T2020 2021-02-15      1T2021
44    1T2021 2021-05-10      2T2021
45    2T2021 2021-08-12      3T2021
46    3T2021 2021-11-09      4T2021
47    4T2021 2022-02-15      1T2022
48    1T2022 2022-05-12      2T2022
49    2T2022 2022-08-16      3T2022
50    3T2022 2022-11-09      4T2022
51    4T2022 2023-02-14        None

In [26]:
price_df = pd.read_csv('../../dataset/prices_processed/BBAS3.SA.csv')
price_df['Date'] = pd.to_datetime(price_df['Date'])
price_df

,Date,Open,High,Low,Close,Adj Close,Volume,Daily_Return,Week_Return,Month_Return,Cumulative_std_Daily_Return,Cumulative_std_Week_Return,Cumulative_std_Month_Return,Indicator_Daily_Return,Indicator_Week_Return,Indicator_Month_Return
0,2010-01-04,14.900000,15.000000,14.850000,14.950000,6.009221,7249400,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
1,2010-01-05,15.050000,15.050000,14.595000,14.800000,5.948927,6129800,-0.010084,NaN,NaN,NaN,NaN,NaN,0,0,0
2,2010-01-06,14.745000,15.000000,14.710000,14.820000,5.956966,5466200,0.001350,NaN,NaN,0.008085,NaN,NaN,1,0,0
3,2010-01-07,14.720000,14.855000,14.705000,14.825000,5.958977,3084400,0.000337,NaN,NaN,0.006330,NaN,NaN,0,0,0
4,2010-01-08,14.850000,14.910000,14.735000,14.910000,5.993145,4077800,0.005717,NaN,NaN,0.006696,NaN,NaN,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3573,2024-05-27,27.139999,27.469999,27.080000,27.410000,27.410000,31296700,0.012112,-0.009802,-0.038821,0.024863,0.065266,0.135875,1,-1,-1
3574,2024-05-28,27.549999,27.620001,27.290001,27.320000,27.320000,35304600,-0.003289,-0.013452,-0.032766,0.024859,0.065258,0.135858,-1,-1,-1
3575,2024-05-29,27.469999,27.469999,27.120001,27.320000,27.320000,25627500,0.000000,-0.021724,-0.021366,0.024856,0.065250,0.135839,0,-1,-1
3576,2024-05-31,27.379999,27.500000,27.120001,27.120001,27.120001,19114900,-0.007348,-0.028355,-0.030861,0.024853,0.065242,0.135821,-1,-1,-1
3577,2024-06-03,27.180000,27.389999,27.070000,27.150000,27.150000,27700400,0.001106,-0.012809,-0.028324,0.024849,0.065234,0.135803,0,-1,-1

In [27]:
price_df.insert(1, 'event' ,price_df['Date'].apply(lambda date: 1 if date in date_df['data'].values else 0))

price_df

,Date,event,Open,High,Low,Close,Adj Close,Volume,Daily_Return,Week_Return,Month_Return,Cumulative_std_Daily_Return,Cumulative_std_Week_Return,Cumulative_std_Month_Return,Indicator_Daily_Return,Indicator_Week_Return,Indicator_Month_Return
0,2010-01-04,0,14.900000,15.000000,14.850000,14.950000,6.009221,7249400,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
1,2010-01-05,0,15.050000,15.050000,14.595000,14.800000,5.948927,6129800,-0.010084,NaN,NaN,NaN,NaN,NaN,0,0,0
2,2010-01-06,0,14.745000,15.000000,14.710000,14.820000,5.956966,5466200,0.001350,NaN,NaN,0.008085,NaN,NaN,1,0,0
3,2010-01-07,0,14.720000,14.855000,14.705000,14.825000,5.958977,3084400,0.000337,NaN,NaN,0.006330,NaN,NaN,0,0,0
4,2010-01-08,0,14.850000,14.910000,14.735000,14.910000,5.993145,4077800,0.005717,NaN,NaN,0.006696,NaN,NaN,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3573,2024-05-27,0,27.139999,27.469999,27.080000,27.410000,27.410000,31296700,0.012112,-0.009802,-0.038821,0.024863,0.065266,0.135875,1,-1,-1
3574,2024-05-28,0,27.549999,27.620001,27.290001,27.320000,27.320000,35304600,-0.003289,-0.013452,-0.032766,0.024859,0.065258,0.135858,-1,-1,-1
3575,2024-05-29,0,27.469999,27.469999,27.120001,27.320000,27.320000,25627500,0.000000,-0.021724,-0.021366,0.024856,0.065250,0.135839,0,-1,-1
3576,2024-05-31,0,27.379999,27.500000,27.120001,27.120001,27.120001,19114900,-0.007348,-0.028355,-0.030861,0.024853,0.065242,0.135821,-1,-1,-1
3577,2024-06-03,0,27.180000,27.389999,27.070000,27.150000,27.150000,27700400,0.001106,-0.012809,-0.028324,0.024849,0.065234,0.135803,0,-1,-1

In [ ]:
def separar_retornos(data):

In [36]:
for i in range(1, 10, 3):
    print(i)

1
4
7

In [2]:
final_data = pd.read_csv('../../dataset/final_data.csv')
final_data

,CD_CVM,Close,Date,Return,event,return_week,return_month,Year
0,19348,18.268333,2010-01-04,NaN,0,NaN,NaN,2010
1,19348,18.386723,2010-01-05,0.006460,0,NaN,NaN,2010
2,19348,18.227352,2010-01-06,-0.008706,0,NaN,NaN,2010
3,19348,18.040663,2010-01-07,-0.010295,0,NaN,NaN,2010
4,19348,17.767456,2010-01-08,-0.015260,0,-0.027801,NaN,2010
...,...,...,...,...,...,...,...,...
3220,19348,25.190001,2022-12-23,0.015604,0,NaN,NaN,2022
3221,19348,24.690001,2022-12-26,-0.020049,0,0.001621,NaN,2022
3222,19348,24.549999,2022-12-27,-0.005687,0,NaN,NaN,2022
3223,19348,25.049999,2022-12-28,0.020162,0,NaN,NaN,2022
3224,19348,25.000000,2022-12-29,-0.001998,0,NaN,NaN,2022

In [16]:
def separate_returns(final_data):
    # Inicializar colunas se não existirem
    if 'return_daily' not in final_data.columns:
        final_data['return_daily'] = np.nan
    if 'return_week' not in final_data.columns:
        final_data['return_week'] = np.nan
    if 'return_month' not in final_data.columns:
        final_data['return_month'] = np.nan
        
    first_return_daily_list = []
    remaining_return_daily_list = []
    first_return_week_list = []
    remaining_return_week_list = []
    first_return_month_list = []
    remaining_return_month_list = []

    start_idx = 0

    while start_idx < len(final_data):
        # Encontra o evento
        if 1 in final_data[start_idx:]['event'].values:
            event_idx = final_data[start_idx:]['event'].eq(1).idxmax()
        else:
            break
        # Encontrar o próximo evento
        if 1 in final_data[event_idx+1:]['event'].values:
            prox_event_idx = final_data[event_idx+1:]['event'].eq(1).idxmax()
        else:
            prox_event_idx = len(final_data)
            
        # Calcular o primeiro retorno diario logo após o evento
        if event_idx + 1 < len(final_data):
            final_data.loc[event_idx + 1, 'return_daily'] = np.log(final_data.loc[event_idx + 1, 'Close'] / final_data.loc[event_idx, 'Close'])
            first_return_daily_list.append(final_data.iloc[event_idx + 1])

        # Calcular os retornos diarios restantes até o próximo evento
        for i in range(event_idx + 2, prox_event_idx, 1):
            final_data.loc[i, 'return_daily'] = np.log(final_data.loc[i, 'Close'] / final_data.loc[i-1, 'Close'])
            remaining_return_daily_list.append(final_data.iloc[i])
                
        # Calcular o primeiro retorno semanal logo após o evento
        if event_idx + 5 < len(final_data):
            final_data.loc[event_idx + 5, 'return_week'] = np.log(final_data.loc[event_idx + 5, 'Close'] / final_data.loc[event_idx, 'Close'])
            first_return_week_list.append(final_data.iloc[event_idx + 5])

        # Calcular os retornos semanais restantes até o próximo evento
        for i in range(event_idx + 10, prox_event_idx, 5):
            final_data.loc[i, 'return_week'] = np.log(final_data.loc[i, 'Close'] / final_data.loc[i-5, 'Close'])
            remaining_return_week_list.append(final_data.iloc[i])
        

        # Calcular o primeiro retorno mensal logo após o evento
        if event_idx + 21 < len(final_data):
            final_data.loc[event_idx + 21, 'return_month'] = np.log(final_data.loc[event_idx + 21, 'Close'] / final_data.loc[event_idx, 'Close'])
            first_return_month_list.append(final_data.iloc[event_idx + 21])

        # Calcular os retornos mensais restantes até o próximo evento
        for i in range(event_idx + 42, prox_event_idx, 22):
            final_data.loc[i, 'return_month'] = np.log(final_data.loc[i, 'Close'] / final_data.loc[i-21, 'Close'])
            remaining_return_month_list.append(final_data.iloc[i])

        # Reinicia após o evento
        start_idx = event_idx + 1

    # Criar DataFrames para o primeiro e os demais retornos semanais e mensais
    first_return_daily_df = pd.DataFrame(first_return_daily_list).reset_index()[['index', 'CD_CVM', 'Close', 'Date', 'Year', 'event', 'return_daily']]
    remaining_return_daily_df = pd.DataFrame(remaining_return_daily_list).reset_index()[['index', 'CD_CVM', 'Close', 'Date', 'Year', 'event', 'return_daily']]
    first_return_week_df = pd.DataFrame(first_return_week_list).reset_index()[['index', 'CD_CVM', 'Close', 'Date', 'Year', 'event', 'return_week']]
    remaining_return_week_df = pd.DataFrame(remaining_return_week_list).reset_index()[['index', 'CD_CVM', 'Close', 'Date', 'Year', 'event', 'return_week']]
    first_return_month_df = pd.DataFrame(first_return_month_list).reset_index()[['index', 'CD_CVM', 'Close', 'Date', 'Year', 'event', 'return_month']]
    remaining_return_month_df = pd.DataFrame(remaining_return_month_list).reset_index()[['index', 'CD_CVM', 'Close', 'Date', 'Year', 'event', 'return_month']]
    
    first_return_daily_df.rename(columns={'return_daily': 'return'}, inplace=True)
    remaining_return_daily_df.rename(columns={'return_daily': 'return'}, inplace=True)
    first_return_week_df.rename(columns={'return_week': 'return'}, inplace=True)
    remaining_return_week_df.rename(columns={'return_week': 'return'}, inplace=True)
    first_return_month_df.rename(columns={'return_month': 'return'}, inplace=True)
    remaining_return_month_df.rename(columns={'return_month': 'return'}, inplace=True)
    
    return first_return_daily_df, remaining_return_daily_df, first_return_week_df, remaining_return_week_df, first_return_month_df, remaining_return_month_df

# Exemplo de uso com um DataFrame
# final_data = pd.read_csv('path_to_your_file.csv')  # Carregar os dados

# Aplicar a função ao DataFrame
first_return_daily_df, remaining_return_daily_df, first_return_week_df, remaining_return_week_df, first_return_month_df, remaining_return_month_df = separate_returns(final_data)

In [17]:
first_return_month_df

    index  CD_CVM      Close        Date  Year  event    return
0     303   19348  16.802132  2011-03-25  2011      0  0.007344
1     349   19348  16.128223  2011-06-01  2011      0  0.003394
2     413   19348  13.136625  2011-08-31  2011      0 -0.024988
3     476   19348  15.149238  2011-12-02  2011      0  0.034866
4     542   19348  17.216492  2012-03-12  2012      0  0.038005
5     593   19348  12.804225  2012-05-24  2012      0 -0.111918
6     655   19348  15.609134  2012-08-22  2012      0  0.127051
7     718   19348  14.343282  2012-11-26  2012      0  0.102894
8     785   19348  16.802132  2013-03-08  2013      0  0.076278
9     842   19348  16.218382  2013-05-31  2013      0  0.056541
10    904   19348  14.124718  2013-08-28  2013      0 -0.035531
11    969   19348  16.498873  2013-11-29  2013      0 -0.049455
12   1033   19348  15.502128  2014-03-07  2014      0 -0.012841
13   1089   19348  17.931379  2014-05-29  2014      0 -0.027550
14   1155   19348  22.644629  2014-09-03  2014      0  0.133879
15   1220   19348  20.022038  2014-12-04  2014      0 -0.026074
16   1280   19348  19.283747  2015-03-06  2015      0  0.021662
17   1340   19348  18.710743  2015-06-03  2015      0 -0.127291
18   1403   19348  16.078787  2015-09-02  2015      0 -0.095892
19   1465   19348  17.466665  2015-12-03  2015      0  0.023167
20   1524   19348  19.000000  2016-03-04  2016      0  0.282274
21   1585   19348  18.127272  2016-06-02  2016      0 -0.006664
22   1649   19348  21.727272  2016-08-31  2016      0  0.057996
23   1711   19348  22.533333  2016-12-01  2016      0 -0.127597
24   1778   19348  26.080000  2017-03-10  2017      0  0.009503
25   1834   19348  23.420000  2017-06-01  2017      0 -0.114457
26   1897   19348  27.393333  2017-08-29  2017      0  0.096235
27   1962   19348  28.506666  2017-11-28  2017      0 -0.008152
28   2031   19348  34.326668  2018-03-08  2018      0  0.028765
29   2088   19348  28.653334  2018-05-30  2018      0 -0.171287
30   2150   19348  28.466665  2018-08-28  2018      0 -0.095310
31   2213   19348  36.020000  2018-11-30  2018      0  0.116673
32   2275   19348  35.330002  2019-03-07  2019      0 -0.116367
33   2334   19348  35.000000  2019-05-31  2019      0  0.027812
34   2394   19348  33.529999  2019-08-27  2019      0 -0.098477
35   2464   19348  36.509998  2019-12-05  2019      0  0.001096
36   2528   19348  23.600000  2020-03-12  2020      0 -0.373315
37   2583   19348  25.250000  2020-06-02  2020      0  0.142796
38   2648   19348  24.290001  2020-09-02  2020      0 -0.056037
39   2711   19348  30.260000  2020-12-04  2020      0  0.190951
40   2769   19348  27.629999  2021-03-05  2021      0 -0.029597
41   2830   19348  31.620001  2021-06-02  2021      0  0.168752
42   2893   19348  31.059999  2021-09-01  2021      0  0.009381
43   2957   19348  23.250000  2021-12-06  2021      0  0.003878
44   3025   19348  25.590000  2022-03-16  2022      0 -0.036075
45   3082   19348  25.559999  2022-06-07  2022      0  0.086158
46   3147   19348  26.540001  2022-09-08  2022      0  0.024410
47   3212   19348  23.190001  2022-12-13  2022      0 -0.142065

In [18]:
remaining_return_month_df

    index  CD_CVM      Close        Date  Year  event    return
0     324   19348  17.143637  2011-04-27  2011      0  0.020121
1     370   19348  16.610888  2011-07-01  2011      0  0.029488
2     434   19348  13.227693  2011-09-30  2011      0  0.006908
3     497   19348  15.882339  2012-01-03  2012      0  0.047258
4     519   19348  16.319468  2012-02-03  2012      0  0.026005
5     563   19348  14.498098  2012-04-11  2012      0 -0.171850
6     614   19348  12.385310  2012-06-25  2012      0 -0.033264
7     676   19348  15.317715  2012-09-21  2012      0 -0.018846
8     739   19348  15.108257  2012-12-27  2012      0  0.051960
9     761   19348  15.631901  2013-01-31  2013      0  0.028362
10    806   19348  15.754843  2013-04-09  2013      0 -0.064358
11    863   19348  14.274981  2013-07-01  2013      0 -0.127637
12    925   19348  15.777610  2013-09-26  2013      0  0.110666
13    947   19348  16.724266  2013-10-28  2013      0  0.036290
14    990   19348  15.757575  2014-01-03  2014      0 -0.045971
15   1054   19348  17.590782  2014-04-07  2014      0  0.126398
16   1110   19348  17.674931  2014-07-01  2014      0 -0.014405
17   1132   19348  19.300276  2014-08-01  2014      0  0.104314
18   1176   19348  18.765841  2014-10-02  2014      0 -0.187884
19   1198   19348  20.165289  2014-11-03  2014      0  0.048708
20   1241   19348  20.033056  2015-01-08  2015      0  0.000550
21   1301   19348  20.561983  2015-04-07  2015      0  0.064181
22   1361   19348  19.013775  2015-07-03  2015      0  0.016066
23   1424   19348  16.951515  2015-10-02  2015      0  0.052856
24   1486   19348  15.006060  2016-01-07  2016      0 -0.151840
25   1545   19348  18.406059  2016-04-05  2016      0 -0.031759
26   1606   19348  18.733334  2016-07-01  2016      0  0.032887
27   1670   19348  21.527271  2016-09-30  2016      0 -0.009248
28   1732   19348  22.353333  2017-01-02  2017      0 -0.008020
29   1754   19348  25.006666  2017-02-02  2017      0  0.070689
30   1799   19348  25.286667  2017-04-10  2017      0 -0.030891
31   1855   19348  24.500000  2017-06-30  2017      0  0.045083
32   1918   19348  28.806665  2017-09-27  2017      0  0.050307
33   1940   19348  29.113333  2017-10-27  2017      0  0.015926
34   1983   19348  28.313334  2017-12-27  2017      0 -0.006805
35   2005   19348  34.459999  2018-01-29  2018      0  0.193880
36   2052   19348  33.406666  2018-04-09  2018      0 -0.027167
37   2109   19348  26.893333  2018-06-29  2018      0 -0.063391
38   2171   19348  29.673332  2018-09-27  2018      0  0.041515
39   2234   19348  36.980000  2019-01-04  2019      0  0.026303
40   2296   19348  34.549999  2019-04-05  2019      0 -0.022325
41   2355   19348  35.950001  2019-07-02  2019      0  0.026781
42   2415   19348  34.680000  2019-09-25  2019      0  0.033723
43   2437   19348  36.799999  2019-10-25  2019      0  0.030908
44   2485   19348  34.910000  2020-01-09  2020      0 -0.044813
45   2549   19348  24.000000  2020-04-13  2020      0  0.016807
46   2604   19348  26.549999  2020-07-02  2020      0  0.050204
47   2626   19348  27.280001  2020-08-03  2020      0  0.029009
48   2669   19348  22.590000  2020-10-02  2020      0 -0.072557
49   2732   19348  32.820000  2021-01-08  2021      0  0.081211
50   2790   19348  27.129999  2021-04-06  2021      0 -0.018262
51   2851   19348  30.010000  2021-07-02  2021      0 -0.052259
52   2914   19348  29.670000  2021-10-01  2021      0 -0.045784
53   2978   19348  22.139999  2022-01-06  2022      0 -0.048919
54   3000   19348  25.320000  2022-02-07  2022      0  0.112318
55   3046   19348  26.330000  2022-04-14  2022      0  0.028507
56   3103   19348  22.900000  2022-07-07  2022      0 -0.109892
57   3125   19348  25.240000  2022-08-08  2022      0  0.096857
58   3168   19348  29.320000  2022-10-07  2022      0  0.099617
59   3190   19348  27.620001  2022-11-10  2022      0 -0.049100